services:
  postgres:
    image: postgres:16
    container_name: codeair-postgres
    restart: unless-stopped
    environment:
      - TZ=UTC
      - POSTGRES_USER=codeair
      - POSTGRES_PASSWORD=dev_aQUCVlDkUk
      - POSTGRES_DB=codeair
    ports:
      - "6432:5432"
    volumes:
      - ./.pgsql/data:/var/lib/postgresql/data
    healthcheck:
      test: "pg_isready -U codeair"
      interval: 10s
      timeout: 10s
      retries: 5

  api:
    image: ghcr.io/tsv1/codeair:0.1.0
    container_name: codeair-api
    command: python -m uvicorn codeair.start_server:app --host 0.0.0.0 --port 8080
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - migrations:/app/api/codeair/migrations
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

  worker:
    image: ghcr.io/tsv1/codeair:0.1.0
    container_name: codeair-worker
    command: python -m codeair.start_worker
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      api:
        condition: service_started
    restart: unless-stopped

  migrations:
    image: gomicro/goose:3.7.0
    command: goose postgres up
    environment:
      - GOOSE_DBSTRING=postgresql://codeair:dev_aQUCVlDkUk@postgres:5432/codeair
    volumes:
      - migrations:/migrations
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  migrations:
